<ion-view view-title="Partidas">

  <ion-content>
    <!--
    <ion-list>

      <ion-item ng-repeat="partida in partidas" href="#/app/partidas/{{partida.id}}">
        {{partida.title}}
      </ion-item>

    </ion-list>
    -->

    <div class="padding-left padding-top">
      <h3 class="padding-top">
        <i class="icon ion-calendar"></i>
        <span class="">
          Próximas
        </span>
      </h3>
    </div>

    <div class="list card" ng-repeat="partida in partidas">

      <div class="item item-avatar">
        <img src="img/escudos/{{partida.adversario}}.gif">
        <h2>
          {{partida.adversario}}
        </h2>
        <p>
          {{partida.data}}
        </p>
      </div>

      <div class="item item-body">
        <p>
          <strong>Local</strong>:
          {{partida.local}}
        </p>
        <p>
          <a href="#" class="subdued">
            5 Irão
          </a>
          <a href="#" class="subdued">
            2 Comentários
          </a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          EU VOU
        </a>
        <a class="tab-item" href="#/app/partidas/{{partida.id}}">
          <i class="icon ion-chatbox"></i>
          COMENTÁRIOS
        </a>
      </div>

    </div>

  </ion-content>

</ion-view>
