<div class="navbar-fixed">

	<nav>

		<div class="container">

			<div class="nav-wrapper">

				<a class="brand-logo left"
				   title="Início"
				   data-ng-click="goTo('/')">
				   <img class="navbar-brand-logo"
				   		width="40" height="40"
				   		data-ng-src="./assets/images/icons/icon-60x60.png" />
					Os Rastros
				</a>

				<a class="side-nav-toggle button-collapse right"
				   data-ng-show="user"
				   data-activates="slide-out">
				   	<i class="material-icons">menu</i>
			   	</a>

				<a class="waves-effect waves-light button-collapse right"
				   data-ng-show="!user"
				   data-ng-click="goTo('/login')"
				   title="Entrar">
				   	<i class="material-icons">input</i>
			   	</a>

				<ul class="right hide-on-med-and-down">
					<li data-ng-show="!user">
						<a class="waves-effect waves-light btn"
						   data-ng-click="goTo('/login')">
							Entrar
						</a>
					</li>
					<li data-ng-show="user">
						<a class="side-nav-toggle tooltipped"
						   data-position="left"
						   data-delay="25"
						   data-tooltip="Ver seu perfil"
						   data-activates="slide-out">
						    <span ng-if="user.photoURL">
							   	Salve
								<img class="avatar circle"
									 height="32" width="32"
									 data-ng-src="{{ user.photoURL }}"
									 />
							</span>
							<span ng-if="!user.photoURL">
								<i class="material-icons right">person_pin</i>
								{{ user.displayName || user.email }}
							</span>
						</a>
					</li>
				</ul>

			</div>

		</div>

	</nav>

</div>
