<md-toolbar>
	<div layout="row">
		<div flex="15" hide-xs></div>
		<div flex class="md-toolbar-tools">
			<img class="navbar-brand-logo"
		   		 width="40" height="40"
		   		 data-ng-src="./assets/images/icons/icon-60x60.png" />
			<h2 title="Início"
			    data-ng-click="goTo('/')">
				<span>Os Rastros</span>
			</h2>
			<span flex></span>
			<md-button class="md-raised"
				aria-label="Entrar"
				data-ng-show="!user"
				data-ng-click="goTo('/login')"
				title="Entrar"
				hide-xs>
	   			Entrar
			</md-button>
			<md-button class="md-icon-button"
			    aria-label="Entrar"
			    data-ng-show="!user"
			    data-ng-click="goTo('/login')"
			    title="Entrar"
			    hide-sm hide-md hide-lg>
			   	<md-icon aria-label="input"
			   			 class="material-icons">input</i>
			</md-button>

			<md-button class="md-fab md-mini md-primary"
				aria-label="{{ user.displayName || user.email }}"
				data-ng-show="user"
				data-ng-click="toggleSidenav()">
				<img class="avatar circle"
					alt="{{ user.displayName || user.email }}"
					data-ng-if="user.photoURL"
					data-ng-src="{{ user.photoURL }}"
				/>
			</md-button>
		</div>
		<div flex="15" hide-xs></div>
	</div>
</md-toolbar>
