<md-sidenav class="md-sidenav-right"
    md-component-id="right"
    md-whiteframe="4">

    <md-toolbar>

        <img class="circle"
             data-ng-src="{{ user.photoURL }}"
             data-ng-if="user.photoURL"
             />

        <img class="circle"
             data-ng-src="./assets/images/os-rastros.gif"
             data-ng-if="!user.photoURL"
             />

        <h3 class="md-toolbar-tools"
            data-ng-if="user.displayName">
            {{ user.displayName }}
        </h3>

        <h5 class="md-toolbar-tools"
            data-ng-if="user.email">
            {{ user.email }}
        </h5>

    </md-toolbar>

    <md-content>

        <div class="row stripes">
            <div class="col s4 green"></div>
            <div class="col s4 yellow"></div>
            <div class="col s4 red"></div>
        </div>

        <md-list flex>

            <md-list-item data-ng-click="toggleSidenav(); goTo('/perfil');">
                <p>
                    Minha conta
                </p>
                <md-icon class="material-icons">person_pin</i>
            </md-list-item>

            <md-divider></md-divider>

            <md-list-item data-ng-click="toggleSidenav(); logout();">
                <p>
                    Sair
                </p>
                <md-icon class="material-icons">power_settings_new</i>
            </md-list-item>

        </md-list>

    </md-content>

</md-sidenav>
