/* Button
-------------------------------------------------------------------------- */
$this          : ".btn";
$button-primary: $color-primary;

#{$this} {
    position        : relative;
    display         : inline-block;
    cursor          : pointer;

    margin          : 0;
    padding         : 12px 15px 10px;

    min-height      : 40px;

    font-size       : 14px;
    line-height     : 1.25;
    font-weight     : bold;

    text-align      : center;
    text-decoration : none;
    border          : 0;
    @include          border-radius(3px);

    background-image: none;
    background-color: $button-primary;
    color           : $color-white;
    @include          text-shadow(0 1px rgba($color-black, .15));
    @include          transition();

    &:hover:not(:disabled) {
        background-color: darken($button-primary, 3%);
    }

    &:active {
        padding-top   : 13px;
        padding-bottom: 8px;
    }

    &:focus {
        box-shadow: 0 0 6px rgba($color-black, .5) inset;
    }

    &:hover,
    &:active,
    &:focus {
        outline         : 0;
        background-image: none;
    }

    &:disabled {
        color              : darken($color-light-grey, 15%);
        @include             text-shadow(0 1px $color-white-smoke);
        background-color   : $color-light-grey;
        cursor             : default;
    }

    &--outlined {
        padding-top     : 11px;
        background-color: transparent;
        color           : $color-white-smoke;
        border-bottom   : none;
        border          : 2px solid $color-white-smoke;
        @include          text-shadow(none);

        &:hover {
            background-color: darken($color-light-grey, 45%);
        }

        &:active {
            padding-bottom: 8px;
        }

        &:disabled {
            border-color: lighten($color-light-grey, 5%);
            color       : darken($color-light-grey, 5%);
        }
    }

    &--wide {
        display: block;
        width: 100%;
    }

    @each $btn_class, $btn_bgColor, $btn_txtColor in $principal-colors {
        &--#{$btn_class}:not(:disabled) {
            background-color: #{$btn_bgColor};
            color           : #{$btn_txtColor};

            &:hover {
                background-color: darken($btn_bgColor, 5%);
            }

            &#{$this} {
                &--outlined:not(:disabled) {
                    color           : $btn_bgColor;
                    border          : 2px solid $btn_bgColor;
                    background-color: transparent;

                    &:hover {
                        color       : darken($btn_bgColor, 10%);
                        border-color: darken($btn_bgColor, 10%);
                        background-color: transparent;
                    }
                }
            }
        }
    }
}
