// Border Box
@mixin border-box () {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

// Border Radius
@mixin border-radius ($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius   : $radius;
    -ms-border-radius    : $radius;
    border-radius        : $radius;
}

// Box Shadow
@mixin box-shadow ($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow   : $shadow;
    -ms-box-shadow    : $shadow;
    box-shadow        : $shadow;
}

// Text Shadow
@mixin text-shadow($shadow) {
    -webkit-text-shadow: $shadow;
    -moz-text-shadow   : $shadow;
    -ms-text-shadow    : $shadow;
    text-shadow        : $shadow;
}

// Transition
@mixin transition ($time: .25s) {
    -o-transition     : $time;
    -moz-transition   : $time;
    -webkit-transition: $time;
    transition        : $time;
}

// Animation
@mixin animation ($name, $time, $loop) {
    -o-animation     : #{$name} $time #{$loop};
    -moz-animation   : #{$name} $time #{$loop};
    -webkit-animation: #{$name} $time #{$loop};
    animation        : #{$name} $time #{$loop};
}

// User no select
@mixin no-select() {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

// Blur Filter
@mixin blur ($intensity: 2px) {
    -webkit-filter: blur($intensity);
    filter        : blur($intensity);
}

// Keyframe
@mixin keyframe ($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

/* Media Querie mixins
-------------------------------------------------------------------------- */
$phone-width      : 640px;
$tablet-width     : 768px;
$desktop-width    : 1060px;
$bigDesktop-width : 1280px;
$hugeDesktop-width: 1600px;

@mixin phone {
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin phoneAndTablet {
    @media (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) and (max-width: #{$bigDesktop-width - 1px}) {
        @content;
    }
}

@mixin bigDesktop {
    @media (min-width: #{$bigDesktop-width}) {
        @content;
    }
}

@mixin hugeDesktop {
    @media (min-width: #{$hugeDesktop-width}) {
        @content;
    }
}

@mixin print {
    @media print {
        @content;
    }
}