.section {
	padding: 40px 0 30px;

	&__title {
		font-size  : 22px;
		line-height: 1.4;

		margin: -2px 0 22px;

		+ .match {
			margin-top: 32px !important;
		}
	}

	@include phone {
		padding: 20px 0 10px;

		&__title {
			+ .match {
				margin-top: 12px !important;
			}
		}
	}
}
