*, :before, :after {
	box-sizing: border-box;
}

html,
body {
	font-family: 'Quicksand', 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	&.aph,
	&.aph.support {
		font-family: 'Nunito', 'Roboto', sans-serif;
	}
}

a,
a.aph,
a.aph__list__item__link,
.aph.navbar__nav .aph.navbar__menu.list .list__item__link {
	&:not(.btn) {
		color: $color-green;

		&:hover {
			color: $color-red;
		}
	}
}

content {
	display: block;
	padding-bottom: 60px;
}