$this: ".aph.drawer";

#{$this} {
	width: 260px;
	left : -260px;

	&__menu {
		&--user {
			position: fixed;
			bottom  : 20px;
			width   : 220px;
		}

		&__user {
			overflow     : hidden;
			white-space  : nowrap;
			text-overflow: ellipsis;

			&__avatar {
				float : left;
				margin: -6px 6px 0 0;

				border-radius: 50%;
			}
		}
	}
}