$this: ".aph.loader";

#{$this} {
	&__content {
		&__spinner {
			&__image {
				border-radius: 0;

				background-size : 58px;
				background-image: url("/assets/images/loader--spinner--balls.gif");
			}
		}

		&__message {
			color: $color-red;

			&.ng-leave {
				color: $color-yellow;
			}
		}
	}
}