$this: ".aph.loader";

#{$this} {
	&__content {
		&__spinner {
			animation: fadeIn .5s;

			&.ng-leave {
				animation: fadeOut .5s;
			}

			&__image {
				border-radius: 0;

				background-size : 58px;
				background-image: url("/assets/images/loader--spinner--balls.gif");
			}
		}

		&__message {
			color: $color-black;

			animation : fadeIn .5s;

			&.ng-leave {
				color: $color-grey;

				animation: fadeOut .5s;
			}
		}
	}
}