$this: ".aph.loader";

#{$this} {
	background-color: rgba($color-black, .95);

	&__content {
		&__spinner {

			&__image {
				border-radius: 0;

				background-size : 58px;
				background-image: url("/assets/images/loader--spinner--balls.gif");
			}
		}

		&__spinner,
		&__spinner__image {
			animation: fadeIn .5s;

			&.ng-leave,
			&.ng-hide-add {
				animation: fadeOut .5s;
			}
		}

		&__message {
			color: $color-white;

			animation : fadeIn .5s;

			&.ng-leave,
			&.ng-hide-add {
				color: $color-grey;

				animation: fadeOut .5s;
			}
		}
	}
}