$this: ".aph.navbar";

#{$this} {
	display: block;
	color  : $color-green;
	z-index: 1060;

	&__nav {
		#{$this} {
			&__brand {
				&__logo {
					background-image: url('/assets/images/icons/icon-60x60.png');
				}

				&__title {
					color: $color-black;
				}
			}

			&__menu {
				&__drawer {
					background-image: none;

					font-size: 20px;
					color    : $color-black;
				}

				&__user {
					max-width: 260px;

					&__avatar {
						border-radius: 6px;

						float: right;

						margin-right: 25px;
						margin-left : -15px;
					}
				}

				&.list {
					.list__item {
						&.active,
						&:hover {
							color: $color-black;

							.list__item__link {
								color: $color-black;
							}
						}
					}
				}
			}
		}
	}
}
