$this: ".game";

#{$this} {
	margin: 4px 0 5px;

	&__frame {
		&__score {
			font-size  : 42px;
			line-height: 30px;
		}

		&__title {
			margin: 4px 0 24px;
		}

		&__score,
		&__title {
			color: $color-grey;
		}

		h3.aph.section__title {
			margin-top: -4px;
		}
	}

	&__goal {
		margin: 5px 0;

		font-size  : 13px;
		line-height: 20px;

		overflow     : hidden;
		white-space  : nowrap;
		text-overflow: ellipsis;

		&s {
			margin: 15px 0;
		}

		&__player {
			&__number {
				display: inline-block;
				width  : 20px;
				padding: 0 1px 0 0;

				text-align: center;

				color     : $color-white;
				background: $color-dark-grey;
			}
		}

		&__remove {

		}

		&.ng-enter,
		&.ng-leave {
			transition: opacity .45s ease;
		}

		&.ng-enter {
			opacity: 0;

			&-active {
				opacity: 1;
			}
		}

		&.ng-leave {
			opacity: 1;

			&-active {
				opacity: 0;
			}
		}
	}

	@include xs {
		&__goal {
			&__remove {
				display: none;
			}
		}
	}
}
