$this: ".header";
#{$this} {
	display: block;
	padding: 30px 0 40px;
	margin : 60px 0 40px;

	&__title {
		font-size  : 48px;
		line-height: 1.25;
		margin     : 10px 0;
		color      : $color-grey;
	}
}
