$this: ".header";
#{$this} {
	display: block;
	padding: 60px 0;
	margin : 60px 0;

	background-color   : $color-black;
	background-repeat  : no-repeat;
    background-position: center;
    background-size    : cover;
    background-image   : url("/assets/images/header--background.jpg");

    &--no-mb {
    	margin-bottom: 0;
    }

	&__title {
		&.aph {
			margin: 0;
			color : $color-white;

			font-weight: bold;

			text-shadow: 0 0 4px $color-black;
		}

		&__sub {
			display: block;
			margin : 1px auto -1px;

			font-weight: lighter;
		}
	}
}
