$this: ".lion";

#{$this} {
	min-height: 320px;

	background-repeat  : no-repeat;
	background-position: center;
	background-size    : cover;
	background-image   : url('/assets/images/lion--by-noah-grezlak--hd.jpg');
}