$this: ".match";
#{$this} {
    .divider {
        margin: 5px 0 20px;
    }

    &.card {
        .card-image {
            .image {
                opacity: .75;
                transition: opacity .25s linear;
            }
        }

        &:hover {
            .card-image {
                .image {
                    opacity: .85;
                }
            }
        }

        .card-reveal {
            .card-title {
                position: relative;

                .material-icons {
                    &.right {
                        position: absolute;

                        right: 0;
                        top  : 50%;
                        transform: translateY(-50%);

                        margin-top: -5px;
                    }
                }
            }
        }

        .card-action {
            padding: 10px 0;

            .btn-flat {
                display: block;
                margin: 0 auto;
            }
        }
    }

    &__teams {
        position: absolute !important;
        top  : calc(50% - (75px / 2));
        width: 100%;
    }

    &__team,
    &__versus {
        display: inline-block;
        vertical-align: middle;
    }

    &__team,
    &__teams {
        text-align: center;
    }

    &__team {
        margin : 0;
        padding: 0;

        &__logo {
            width : 75px;
            height: 75px;

            border-radius: 6px;
        }
    }

    &__versus {
        margin: -62px 10px 0;

        font-size: 42px;
        text-shadow: 0 0 6px color("shades", "black");
        color: color("shades", "white");
    }

    &__details {
        margin : 8px 0;

        text-align: center;

        &__item {
            position: relative;
            margin  : 0 0 10px;
            padding : 0 0 0 30px;

            font-size  : 14px;
            line-height: 1.45;
            text-align : left;

            &:last-of-type {
                margin-bottom: 0;
            }

            &__icon {
                position: absolute;
                left: 0;
                top : 47%;
                transform: translateY(-50%);
                max-width: 20px;

                &.fa {
                    font-size: 19px;
                }
            }
        }
    }

    @include phoneAndTablet {
        &__details {
            margin: 12px 0 5px;
        }
    }
}
