$this: ".match";
#{$this} {
    position: relative;
    padding : 15px 20px 20px;
    margin  : 20px 0 0;

    border       : 1px solid $color-light-grey;
    border-radius: 4px;

    &__date {
        text-align: center;

        font-size  : 13px;
        font-weight: bold;

        text-transform: uppercase;

        margin: 0 0 10px;
    }

    &__teams {
        &:after {
            content: ".";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
        }
    }

    &__team,
    &__versus {
        display: block;
        float  : left;
    }

    &__team,
    &__teams {
        text-align: center;
    }

    &__team {
        width  : calc(50% - 15px);
        margin : 0;
        padding: 0;

        text-align: center;

        &__logo {
            display: block;

            width : 75px;
            height: 75px;

            margin: 0 auto 10px;

            border-radius: 6px;
        }
    }

    &__versus {
        width : 30px;
        margin: 25px 0;

        font-size: 36px;
    }

    &__details {
        margin : 8px 0;

        text-align: center;

        &__item {
            position: relative;
            margin  : 0 0 10px;
            padding : 0 0 0 30px;

            font-size  : 14px;
            line-height: 1.45;
            text-align : left;

            &:last-of-type {
                margin-bottom: 0;
            }

            &__icon {
                position: absolute;
                left: 0;
                top : 47%;
                transform: translateY(-50%);
                max-width: 20px;

                &.fa {
                    font-size: 19px;
                }
            }
        }
    }
}
