$this: ".match";
#{$this} {
    position: relative;
    padding : 14px 20px 20px;
    margin  : 20px 0 0;

    border       : 1px solid $color-light-grey;
    border-radius: 4px;

    &__date {
        text-align: center;

        font-size  : 13px;
        font-weight: bold;
        line-height: 20px;

        text-transform: uppercase;

        margin: 0 0 15px;
    }

    &__teams {
        &:after {
            content: ".";
            visibility: hidden;
            display: block;
            height: 0;
            clear: both;
        }
    }

    &__team,
    &__versus {
        display: block;
        float  : left;
    }

    &__team,
    &__teams {
        text-align: center;
    }

    &__team {
        width  : calc(50% - 15px);
        margin : 0;
        padding: 0;

        text-align: center;

        &__logo {
            display: block;

            width : 75px;
            height: 75px;

            margin: 0 auto 10px;

            border-radius: 6px;
        }
    }

    &__versus {
        width : 30px;
        margin: 25px 0;

        font-size: 36px;
    }

    &__footer {
        margin: 24px 0 0;

        text-align: center;
    }

    &__going {
        font-size  : 11px;
        line-height: 20px;

        &__text {
            margin: 0 0 4px;
        }

        &__users {
            margin: 4px 0 5px;
            height: 36px;

            overflow: hidden;

            &__avatar {
                width : 30px;
                height: 30px;

                border-radius: 50%;

                margin: 0 3px;
            }
        }
    }
}
