<header class="header">
	<div class="container">
		<h1 class="header__title">
			Vish...
		</h1>
	</div>
</header>

<section class="section">
	<div class="container">
		<h4 class="section__title">
			Caminho ou página não encontrada
		</h4>

		<p class="flow-text">
			Você tentou acessar algo que não tá
			aqui com nóis não, fi.
		</p>

		<p class="flow-text">
			Pode tentar de novo, se quiser.
		</p>

		<div class="section">
			<button class="waves-effect waves-light btn-large"
					data-ng-click="goBack()">
				<i class="material-icons left">replay</i>
				Voltar
			</button>
		</div>
	</div>
</section>