 <header class="header">
	<div class="aph container">
		<h1 class="header__title aph support text-center">
			404
		</h1>
	</div>
</header>
<section class="section">
	<div class="container">
		<h1 class="aph section__title">
			Caminho ou página não encontrada
		</h1>

		<p class="aph">
			Você tentou acessar algo que não tá
			aqui com nóis não, fi.
		</p>

		<p class="aph">
			Pode tentar de novo, se quiser.
		</p>

		<br />

		<button class="aph btn btn--black"
				data-ng-click="goBack();">
			Voltar
		</button>
	</div>
</section>