<header class="header">
	<container>
		<h1 class="header__title">
			<span data-ng-show="!user">
				Cadastre-se
			</span>
			<span data-ng-show="user">
				Salve, {{ user.name || user.email }}!
			</span>
		</h1>
	</container>
</header>
<section class="section">
	<container data-ng-show="!user">
		<form>
			<form-field>
				<input type="email"
				   required
				   placeholder="voce@exemplo.com"
				   data-ng-model="form.email" />
			</form-field>
			<form-field>
				<input type="password"
				   required
				   placeholder="**************"
				   data-ng-model="form.password" />
			</form-field>
			<form-field>
				<button type="button"
						data-ng-click="register()">
					CADASTRAR
				</button>
			</form-field>
		</form>

		<h2 class="section__title">
			Já é cadastrado?
		</h2>
		<button data-ng-click="goToLogin()">
			FAÇA LOGIN
		</button>
	</container>

	<container data-ng-show="user">
		<div data-ng-bind="user.email"></div>
	</container>
</section>