<header class="header">
	<div class="container">
		<h1 class="header__title">
			Entrar
		</h1>
	</div>
</header>
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col s12 m12 l4">
				<form data-ng-submit="login()">
					<div class="section">
						<button class="waves-effect waves-light btn block"
								type="button"
								data-ng-click="facebook()">
							ENTRAR COM O SEU FACEBOOK
						</button>
					</div>
					<div class="section text-center">
						OU ENTÃO
					</div>
					<div class="section input-field">
						<i class="material-icons prefix">email</i>
						<input type="email"
							   name="email"
							   id="email"
							   required
							   data-ng-model="form.email" />
						<label class="form__label"
							   for="email">
							E-mail:
						</label>
					</div>
					<div class="section input-field">
						<i class="material-icons prefix">lock</i>
						<input type="password"
							   id="password"
							   required
							   data-ng-model="form.password" />
						<label class="form__label"
							   for="password">
							Senha:
						</label>
					</div>
					<div class="section">
						<button class="waves-effect waves-light btn block"
								type="submit"
								data-ng-disabled="!form.email || !form.password">
							ENTRAR
						</button>
					</div>
				</form>
			</div>
			<div class="col l2 hidden-on-med-down"></div>
			<div class="col m12 l6">
				<div>
					<i class="large material-icons">recent_actors</i>
					<h4>
						Não tem cadastro?
					</h4>
					<p class="flow-text">
						Sem problemas!
					</p>
					<p class="flow-text">
						Basta "entrar", seja com
						o seu facebook ou com e-mail e senha, que
						o cadastro será efetuado na primeira
						vez em que você acessar.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>