<header class="header">
	<div class="aph container">
		<h1 class="header__title aph support">
			Entrar
		</h1>
	</div>
</header>
<section class="section">
	<div class="aph container">
		<div class="row">
			<div class="col-xs-12 col-sm-5 col-md-5 col-lg-3">
				<form class="aph form form--with-fields"
					  data-ng-submit="login()">
					<div class="aph form__field">
						<button class="aph btn btn--block btn--facebook"
								type="button"
								data-ng-click="facebook()">
							ENTRAR COM FACEBOOK
						</button>
					</div>
					<div class="aph form__field">
						<button class="aph btn btn--block btn--twitter"
								type="button"
								data-ng-click="twitter()">
							ENTRAR COM TWITTER
						</button>
					</div>
					<div class="aph form__field text-center">
						OU ENTÃO
					</div>
					<div class="aph form__field">
						<label class="aph form__label"
							   for="email">
							E-mail
						</label>
						<input class="aph form__control"
							   type="email"
							   name="email"
							   id="email"
							   required
							   data-ng-model="form.email" />
					</div>
					<div class="aph form__field">
						<label class="aph form__label"
							   for="password">
							Senha:
						</label>
						<input class="aph form__control"
							   type="password"
							   id="password"
							   required
							   data-ng-model="form.password" />
					</div>
					<div class="aph form__field">
						<button class="aph btn btn--block btn--green"
								type="submit"
								data-ng-disabled="!form.email || !form.password">
							ENTRAR
						</button>
					</div>
				</form>
			</div>
			<div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>
			<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
				<div>
					<h2 class="aph support">
						Não tem cadastro?
					</h2>
					<p class="aph">
						Sem problemas!
					</p>
					<p class="aph">
						Basta "entrar", seja com
						o seu facebook ou com e-mail e senha, que
						o cadastro será efetuado na primeira
						vez em que você acessar.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>