<header class="header">
	<container>
		<h1 class="header__title">
			Login
		</h1>
	</container>
</header>
<section class="section">
	<container>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-12">
				<h2 class="section__title">
					Seus dados
				</h2>
				<form class="form form--vertical"
					  data-ng-submit="login()">
					<div class="form__field">
						<label class="form__label"
							   for="email">
							E-mail:
						</label>
						<input class="form__control"
							   type="email"
							   name="email"
							   id="email"
							   required
							   placeholder="voce@exemplo.com"
							   data-ng-model="form.email" />
					</div>
					<div class="form__field">
						<label class="form__label"
							   for="password">
							Senha:
						</label>
						<input class="form__control"
							   type="password"
							   id="password"
							   required
							   placeholder="**************"
							   data-ng-model="form.password" />
					</div>
					<div class="form__field">
						<button class="form__button button wide"
								type="submit"
								data-ng-disabled="!form.email || !form.password">
							LOGIN
						</button>
					</div>
					<div class="form__field">
						OU ENTÃO
					</div>
					<div class="form__field">
						<button class="form__button button wide"
								type="button"
								data-ng-click="facebookLogin()">
							ENTRAR COM O FACEBOOK
						</button>
					</div>
				</form>
			</div>

			<div class="col-lg-4"></div>

			<div class="col-lg-4 col-md-6 col-sm-12">
				<h2 class="section__title">
					Não tem cadastro?
				</h2>
				<button class="button green"
						data-ng-click="goToRegister()">
					FAZ UM RÁPIDÃO
				</button>
			</div>
		</div>
	</container>
</section>