<header class="lion">
</header>

<section class="section">
	<div class="aph container"
		 data-ng-if="nextMatches">

		<h1 class="aph support">
			<span data-ng-if="nextMatches">
				Próximos Jogos
			</span>
		</h1>

		<div class="row center-sm center-md center-lg">
			<div class="col-xs-12 col-sm-6 col-md-4"
				 data-ng-repeat="match in nextMatches">

				<div class="match">

					<div class="match__date">
						<div class="match__date__weekday">
							{{ match.date.moment.format('dddd') }}
						</div>
						<div class="match__date__fulldate">
							{{ match.date.moment.format('DD [de] MMMM [de] YYYY') }}
						</div>
						<div class="match__date__time">
							{{ match.date.moment.format('HH:mm') }}
						</div>
					</div>

					<div class="match__teams">

						<div class="match__team">
							<img class="match__team__logo"
								 data-ng-src="{{ match.teams.home.logo }}"
								 data-error-src="{{ match.teams.home.logoOld }}"
								 />
							{{ match.teams.home.title }}
						</div>

						<div class="match__versus">×</div>

						<div class="match__team">
							<img class="match__team__logo"
								 data-ng-src="{{ match.teams.visitor.logo }}"
								 data-error-src="{{ match.teams.visitor.logoOld }}"
								 />
							{{ match.teams.visitor.title }}
						</div>

					</div>

				</div>

			</div>
		</div>
	</div>

	<div class="aph container"
		 data-ng-if="!nextMatches">
		<h1 class="aph support">
			É, dom...
		</h1>
		<p class="aph">
			Deu ruim tentando carregar os próximos jogos da futliga.
		</p>
		<p class="aph">
			Mas acontece, falaê?!
		</p>
	</div>
</section>
