<header class="lion">
</header>

<section class="section">
	<div class="aph container"
		 data-ng-if="nextMatches">

		<h1 class="aph support">
			<span data-ng-if="nextMatches">
				Próximos Jogos
			</span>
		</h1>

		<div class="row center-sm center-md center-lg">
			<div class="col-xs-12 col-sm-6 col-md-4"
				 data-ng-repeat="match in nextMatches">

				<div data-ng-init="goingCount(match)"></div>

				<div class="match">

					<div class="match__date">
						<div class="match__date__weekday">
							{{ match.date.moment.format('dddd') }}
						</div>
						<div class="match__date__fulldate">
							{{ match.date.moment.format('DD [de] MMMM [de] YYYY') }}
						</div>
						<div class="match__date__time">
							{{ match.date.moment.format('HH:mm') }}
						</div>
					</div>

					<div class="match__teams">

						<div class="match__team">
							<img class="match__team__logo"
								 data-ng-src="{{ match.teams.home.logo }}"
								 data-error-src="{{ match.teams.home.logoOld }}"
								 />
							{{ match.teams.home.title }}
						</div>

						<div class="match__versus">×</div>

						<div class="match__team">
							<img class="match__team__logo"
								 data-ng-src="{{ match.teams.visitor.logo }}"
								 data-error-src="{{ match.teams.visitor.logoOld }}"
								 />
							{{ match.teams.visitor.title }}
						</div>

					</div>

					<div class="match__footer">

						<div class="match__going">
							<div class="match__going__text">
								<ng-pluralize
									count="match.goingNumber"
									when="{
										'0'    : 'Ninguém confirmou que vai, ainda',
										'one'  : '1 pessoa falou que vai, hein?!',
	                     				'other': '{} pessoas confirmaram presença'
	                     			}">
								</ng-pluralize>
							</div>
							<div class="match__going__users">
								<img class="match__going__users__avatar"
									 data-ng-repeat="(confirmDate, user) in match.goingProfiles"
									 title="{{ user }}"
									 alt="{{ user }}"
									 data-ng-src="https://placehold.it/32x32"
									 width="30"
									 height="30" />

								<img class="match__going__users__avatar"
									 data-ng-if="!match.goingProfiles"
									 title="Será que você vai memo?"
									 alt="Vem!"
									 data-ng-src="https://placehold.it/32x32"
									 width="30"
									 height="30" />
							</div>
						</div>

						<div class="row">
							<div class="col-xs-6">
								<a class="aph btn btn--small btn--block btn--link btn--yellow"
								   target="_blank"
								   title="Ver no site da Futliga"
								   href="{{ detailsUrl + match.date.id + '/' + match.id }}">
									Local
								</a>
							</div>
							<div class="col-xs-6">
								<button class="aph btn btn--small btn--block btn--link btn--green"
								   		data-ng-click="imGoing(match);">
									Vou colar!
								</button>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

	<div class="aph container"
		 data-ng-if="!nextMatches">
		<h1 class="aph support">
			É, dom...
		</h1>
		<p class="aph">
			Deu ruim tentando carregar os próximos jogos da futliga.
		</p>
		<p class="aph">
			Mas acontece, falaê?!
		</p>
	</div>
</section>
