<header class="header">
	<div class="container">
		<h1 class="header__title">
			Meu Perfil
		</h1>
	</div>
</header>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col s12 m7 l6">
				<h4>
					Informações
				</h4>
				<div class="section">
					<div class="card horizontal profile">
						<div class="card-image">
							<img data-ng-src="{{ user.photoURL }}"
								 data-ng-if="user.photoURL" />
							<img data-ng-src="./assets/images/os-rastros.gif"
								 data-ng-if="!user.photoURL" />
						</div>
						<div class="card-stacked">
							<div class="card-content">
								<div class="card-title"
									 data-ng-if="user.displayName">
									{{ user.displayName }}
								</div>
								<div class="divider"></div>
								<div data-ng-if="user.email">
									{{ user.email }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col l2 hide-on-med-down"></div>
			<div class="col s12 m5 l4">
				<h4>
					Mais opções
					<small>
						(em breve)
					</small>
				</h4>
				<div class="section">
					<button class="waves-effect waves-light btn block"
							type="button"
							data-ng-click="facebookLink()"
							disabled>
						CONECTAR AO FACEBOOK
					</button>
				</div>
				<button class="waves-effect waves-light btn block"
						type="button"
						data-ng-click="twitterLink()"
						disabled>
					CONECTAR AO TWITTER
				</button>
				<div class="section">
					<button class="waves-effect waves-light btn block"
							type="button"
							data-ng-click="googleLink()"
							disabled>
						CONECTAR AO GOOGLE+
					</button>
				</div>
			</div>
		</div>
	</div>
</section>